## URL-REWRITING ##

RewriteEngine on

RewriteRule ^([a-zA-Z0-9\-\_\.]*)$ index.php?page=$1
RewriteRule ^([a-zA-Z0-9\-\_\.]*)/([a-zA-Z0-9\-\_]*)$ index.php?page=$1&action=$2
RewriteRule ([a-zA-Z0-9\-\_\.]*).css$ assets/css/$1.css
RewriteRule ([a-zA-Z0-9\-\_\.]*).js$ assets/js/$1.js