body, html{
	height:100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer{
	background-image: linear-gradient(to bottom, #3C3C3C 0px, #222222 100%);
    background-repeat: repeat-x;
    color:#BAABA6;
}

.footer, .push{
	height: 4em;
}

/* HEADER */
.logo{
	margin-left:10%;

}

#header {
	width: 100%;
	background-color: #F6F6F6;
}

#header h1 {
	margin: 0;
	margin-left: 3%;
}

#header h3 {
	margin: 0;
	margin-left: 4%;
}
/* LOGIN CSS */
.logoLogin{

}

.headerLogin{
	width: 100%;
	padding-top:2%;
}

#formConnexion{
	background-image: linear-gradient(to bottom, #3C3C3C 0px, #222222 100%);
    background-repeat: repeat-x;
    color:#BAABA6;
   	padding:3% 5% 2% 5%;
   	border-radius:10px;
}

.alertLogin{
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

}

.wrapperLogin{
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(181,189,200,1) 6%, rgba(181,189,200,1) 11%, rgba(130,140,149,1) 29%, rgba(60,60,60,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,rgba(181,189,200,1)), color-stop(11%,rgba(181,189,200,1)), color-stop(29%,rgba(130,140,149,1)), color-stop(100%,rgba(60,60,60,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(181,189,200,1) 6%,rgba(181,189,200,1) 11%,rgba(130,140,149,1) 29%,rgba(60,60,60,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(181,189,200,1) 6%,rgba(181,189,200,1) 11%,rgba(130,140,149,1) 29%,rgba(60,60,60,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(181,189,200,1) 6%,rgba(181,189,200,1) 11%,rgba(130,140,149,1) 29%,rgba(60,60,60,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(181,189,200,1) 6%,rgba(181,189,200,1) 11%,rgba(130,140,149,1) 29%,rgba(60,60,60,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#3c3c3c',GradientType=0 ); /* IE6-9 */
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

#connexion{
	margin-top:2%;
}

/* ...................... */

#file {
	/* size */
	width: 50%;
	height: 50%;
	/* position */
	padding: 20px;
	position: absolute;
	top: 25%;
	left: 25%;
	/* style */
	background-color: white;
	border: 1px solid black;
}

#file #x-mark  {
	/* position */
	position: absolute;
	top: 10px;
	right: 10px;
	/* style */
	cursor: pointer;
}

#file .skill {
	padding: 5px;
	margin: 5px;
	/* style */
	display: inline-block;
	border: 1px solid grey;
}

#shadowing {
	/* size */
	width: 100%;
	height: 100%;
	/* position */
	position: absolute;
	left: 0px;
	top: 0px;
	/* style */
	background-color: black;
	opacity: 0.5;
}

.title
{
	color: #0767AC;
    font-weight: normal;
    font-size:25px;
    margin-bottom: 0.5rem;
}

.hrTitle
{
	border-color: #000000;
}



.alert-message.success 
{
    background-color: #57A957;
    background-image: -moz-linear-gradient(center top , #62C462, #57A957);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:white;
}
.fade 
{
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.alert-message 
{
    background-color: #EEDC94;
    background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #464646;
    margin-bottom: 18px;
    padding: 7px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-message.error
 {
    background-color: #7E0814;
    background-image: -moz-linear-gradient(center top , #C8142F, #7E0814);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:white;
}
.close 
{
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 13.5px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
